## LIST

creating a list

In [2]:
lst=[1,2,3]
lst

[1, 2, 3]

Append elements

In [7]:
lst=[1,2,3]
lst.append(4)
lst

[1, 2, 3, 4]

Remove elements

In [8]:
lst=[1,2,3,4,5]
lst.remove(5)
lst

[1, 2, 3, 4]

Length of a list

In [9]:
lst=[1,2,3,4,5]
len(lst)
lst

[1, 2, 3, 4, 5]

Reverse a list

In [10]:
lst=[1,3,4,5,6,7,8]
lst.reverse()
lst

[8, 7, 6, 5, 4, 3, 1]

List comprehension

In [13]:
lst=[1,2,3,4,5]
sq=[x**2 for x in lst]
sq

[1, 4, 9, 16, 25]

Count list

In [15]:
lst=[1,2,3,5,6,2,2]
ele=len(lst)
ele

7

For loop

In [28]:
lst=[10,20,30,40]
for item in lst:
    print(item)

10
20
30
40

## Tuple

creating a tuple

In [29]:
tup=(1,2,3,4,5,6)
tup

(1, 2, 3, 4, 5, 6)

Accessing a tuple

In [31]:
tup=(1,2,3,5,6)
(tup[0])

1

Adding tuples

In [32]:
tup1=[10,20,30,40]
tup2=[50,60]
conc=tup1+tup2
conc

[10, 20, 30, 40, 50, 60]

Length of tuple

In [33]:
tup=(1,2,3,4)
len(tup)

4

Index in tuple

In [35]:
tup=(1,2,3,4)
(tup.index(3))

2

For in tuple

In [38]:
tup=(1,2,3,4)
for i in tup:
   print(i)

1
2
3
4

## Dictionaries

creating a dictionary

In [39]:
dict={"name":"riya","age0":20}
dict

{'name': 'riya', 'age0': 20}

Updating dictionary

In [40]:
dict={"name":"riya","age":20}
dict["salary"]=10000
dict

{'name': 'riya', 'age': 20, 'salary': 10000}

Removing items

In [42]:
dict={"name":"riya","age":20}
del dict["age"]
dict

{'name': 'riya'}

For in dictionary

In [44]:
dict={"name":"riya","age":20}
for key in dict:
    print(key)

name
age

In [46]:
for values in dict.values():
    print(values)

riya
20

Merging dictionaries

In [48]:
dict1={"name":"riya","age":20}
dict2={"city":"banglore","salary":20000}
dict1.update(dict2)
dict1

{'name': 'riya', 'age': 20, 'city': 'banglore', 'salary': 20000}

## Sets

creating a set

In [49]:
s={1,2,3,5}
s

{1, 2, 3, 5}

Adding elements

In [50]:
s={1,2,3,4,6,7}
s.add(9)
s

{1, 2, 3, 4, 6, 7, 9}

Remove elements

In [51]:
s={1,2,3,5}
s.remove(3)
s

{1, 2, 5}

union in set

In [53]:
s={1,2,3}
s2={4,5,6}
union=s|s2
union

{1, 2, 3, 4, 5, 6}

For loop in set

In [56]:
s={10,20,30}
for elements in s:
    print(elements)

10
20
30

Deleting a set

In [60]:
s={1,2,3,4}
del s